body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    text-align: center

}
p{
    text-align: center;
    font-size: 80px;
    color: yellowgreen;
    text-shadow: 8px 8px 2px black;
}

.select{
 text-align: center;
}
.button{
    background-color: rgba(252,70,107,1);
    padding: 12px;
    margin: 30px;
}
li{
    font-size: 30px;
    color: black;
    list-style: none;

}
li:hover{
    text-decoration:line-through ;
}
.center{
    width: 30px;
    height: 0.9em;
}